
@{
    ViewBag.Title = "ContactPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" data-aos="fade-up" data-aos-delay="600">
        <div class="row">
            <div class="section-title text-center col" style="text-align: center;">
                <h2 style="color:dimgray; text-align: center;">Bizi Arayın:</h2>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <table class="table" id="iletisim-table" style="align-content: center;">

                            <tbody>

                                <tr>
                                    <th>Telefon Numarası:</th>
                                    <td>0212 912 24 26 </td>
                                </tr>
                                <tr>
                                    <th>E-Mail:</th>
                                    <td>bilgi@bilsoft.com</td>
                                </tr>
                                <tr>
                                    <th>Faks:</th>
                                    <td>0212 912 24 27</td>
                                </tr>
                                <tr>
                                    <th>Adres:</th>
                                    <td>Düzce Üniversitesi Teknopark Orhangazi Mah.<br>Teknopark Cad. No:1 Kat:2 Merkez/Düzce</td>
                                </tr>
                                <tr>
                                    <th>Sosyal Medya:</th>
                                    <td>
                                        <div class="social-links" style="font-size:30px">
                                            <a href="https://twitter.com/bilsoftyzlm?lang=tr" class="twitter"><i class="bi bi-twitter"></i></a>
                                            <a href="https://www.facebook.com/bilsoftyazilim" class="facebook"><i class="bi bi-facebook"></i></a>
                                            <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="bi bi-instagram"></i></a>
                                            <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th></th>
                                    <td>
                                        <div class="social-links">
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                   </div>
                </div>
                    <div class="container-fluid" data-aos-delay="200">
                        <div class="row">

                            <br><br>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12062.643012076005!2d31.172284!3d40.901256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x332d4e256b968190!2sBilsoft!5e0!3m2!1str!2str!4v1625561764933!5m2!1str!2str"
                                    width="1770" height="250" style="border:0; text-align: center; border-radius: 20px;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>
                    </div>

                     <section id="contact" class="padd-section">

                        <div class="container" data-aos="fade-up">
                            <div class="section-title text-center">
                                <h2>Size Ulaşalım:</h2>

                            </div>

                            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

                                <div class="col-lg-5 col-md-8">
                                    <div class="form">
                                        <form action="~/Content/forms/contact.php" method="post" role="form" class="php-email-form">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad-Soyad" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız.." required></textarea>
                                            </div>
                                            <div class="my-3">
                                                <div class="loading">Yükleniyor..</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
                                            </div>
                                            <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
     