
@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="featurespage">
    <div class="nav2">
        <a href="#hero" class="scroll">section one</a>
        <a href="#work" class="scroll">section two</a>
        <a href="#networks" class="scroll">section three</a>
    </div>
    <section id="hero">
        <div class="hero-block">
            <img class="img-circle" src="~/Content/img/logo.png" width="200" height="200" class="mb-7 hero-image">
            <p>
                Hello, I'm Carlos and this is our new theme, Small.<br />
                It is extremely easy to configure and use. Designed to show your Dribbble shots.<br />
                No complex stuff. Your logo, your shots & your social links. Easy stuff!
            </p>
        </div>
        <a href="#work" class="scroll"><span class="down-arrow"></span></a>
    </section>


    <section id="work">
        <div class="showcase">
            <div class="showcase-tiles">
                <ul class="slides">
                    <!--Dribbble feed-->
                </ul>
            </div>
            <div class="showcase-info">
                <h2 class="mb-7">Follow me on Dribbble!</h2>
            </div>
        </div>
    </section>


    <section id="networks">
        <div class="container">
            

        </div>

    </section>
</div>
