
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
       
        <div class="item active">
            <img src="~/Content/img/boşbanner.jpg" alt="Los Angeles" style="width:100%;height:820px">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.1s after 0.4s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true" style="bottom:280px">
                    <div class="carousel-caption">
                        <h3>KOLAY ARAYÜZÜ SAYESİNDE RAHATÇA KULLANILAN BİR ÖN MUHASEBE PROGRAMI</h3>
                        <h4>ÇOK FAZLA İŞLEM KARMAŞASI GEREKTİRMEYEN, İŞLEMLERİN DETAYLI RAPORLARINI ALABİLECEĞİNİZ BİR PROGRAM.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/boşbanner.jpg" alt="Chicago" style="width: 100%; height: 820px">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.1s after 0.4s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"  style="bottom:450px">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>
                </div>
            </div>

        <div class="item">
            <img src="~/Content/img/boşbanner.jpg" alt="New York" style="width: 100%; height: 820px">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.1s after 0.4s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true" style="bottom:450px">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>
            </div>
         </div>

    </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width:5%">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width:6%">
                <span class="glyphicon glyphicon-chevron-right" ></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
   


<!-- ======= Hero Section ======= -->
<div class="container">




    @*<section id="hero">
            <div class="hero-container" data-aos="fade-in">
                <h1>BILSOFT ONLINE ÖN MUHASEBE PROGRAMI</h1>
                <h2>Avantajlı fiyatlarımızla muhasebe işlemlerinde her zaman bir adım önde olun!</h2>
                <img src="~/Content/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
                <a href="#get-started" class="btn-get-started scrollto">ŞİMDİ İNDİR</a>
            </div>
        </section>*@<!-- End Hero Section -->
</div>
<main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2> NEDEN BILSOFT ONLINE ÖN MUHASEBE PROGRAMI ? </h2>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="feature-block">

                        <img src="~/Content/img/icons/ömür boyu lisans.png" alt="img">
                        <h4>Güvenli Veri Depolama</h4>
                        <p>Bulut Veri Depolama ve Bulut Yedekleme Çözümleri ile Hizmet Sunmaktayız.</p>


                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-block">

                        <img src="~/Content/img/icons/kolay kullanım.png" alt="img">
                        <h4>Kullanıcı Dostu Arayüz</h4>
                        <p>Rahat Tasarımı ve Ayırt Edici Özellikleriyle Kullanıcı Dostu Arayüz Sunmaktayız.</p>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="feature-block">

                        <img src="~/Content/img/icons/vip teknik destek.png" alt="img">
                        <h4>VIP Teknik Destek</h4>
                        <p>Doğrudan İletişime Geçerek Öncelikli Olarak Hizmet Sağlamaktayız.</p>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Get Started Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <meta charset="utf-8">
                @*<link rel="stylesheet" href="stil.css">*@
                <div class="section-title text-center">

                    <h2>ONLINE ÖN MUHASEBE</h2>
                </div>

                <div class="container" id="about-content" style="line-height:2">
                    <img src="~/Content/img/Ekraısı.PNG" class="sola-kaydir">
                    <p>
                        Müşterilerinize hızlı satış yapmanızı sağlayan Cari Takip Programı işyerinize hız ve performans kazandırır. Barkod desteği ile firmanızda en hızlı şekilde işlemlerin yapılmasını sağlar. Cari Takip Programı ile kasa defterinden kurtulacak, müşterilerinize ait alacak verecek durumunu anında görüntüleyebileceksiniz. Program ile Hızlı satış yapabilir, ürünlerinizin ve müşterinizin ayrıntılı bilgilerini saklayabilir, ürünlerinizin stoklarını tutabilir ve bu bilgileri anında görüntüleyebilirsiniz.
                        Online Ön Muhasebe Programında tüm işlemler en basit hale indirgendiğinden 7' den 70' e herkes zorlanmadan çok rahat kullanabilir.
                        Online Ön Muhasebe programını küçük ve orta ölçekli, satış işlemi yapan tüm işletmelerde rahatlıkla kullanılabilir.
                        Online Muhasebe Programı kullanıcıları E-Fatura modülü için ek ücret ödemeleri gerekmez.
                        Programda dilediğiniz kadar şube açarak bu şubeler ile ilgili detay raporları alabilirsiniz. Her şubeye ayrı ayrı kullanıcı ve yetki tanımlaması yapabilirsiniz.
                    </p>
                  
                </div>

                @*<div class="col-md-5 col-lg-3">
                        <img src="~/Content/img/Online2019_withPC.png" alt="About" data-aos="zoom-in" data-aos-delay="100">

                    </div>

                    <div class="col-md-7 col-lg-5">
                        <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                            <h2><span>Online Ön Muhasebe</span>Teknik Özellikler </h2>

                            <ul class="list-unstyled">
                                <li><i class="vi bi-chevron-right"></i>Şube Bazlı Yönetim</li>
                                <li><i class="vi bi-chevron-right"></i>Kolay Kurulum</li>
                                <li><i class="vi bi-chevron-right"></i>Detaylı Raporlar</li>
                                <li><i class="vi bi-chevron-right"></i>Güvenilir</li>
                                <li><i class="vi bi-chevron-right"></i>Teknik Gereksinim ve Maliyeti Azaltır</li>
                            </ul>

                        </div>
                    </div>*@

            </div>
        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="services">
        <div class="section-title text-center">

            <h2>ÖZELLİKLER</h2>

        </div>

        <div class="container" data-aos="fade-up">


            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>E-Fatura</h3>
                        <ul align="left">
                            <li>Zaman ve mekan sınırı olmadan,</li>
                            <li>Mail alma-gönderme kolaylığında,</li>
                            <li>Minimum 10 yıl boyunca güvenli bir şekilde faturalarınızı arşivleyebilirsiniz,</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#Efatura" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Hızlı Satış</h3>
                        <ul align="left">
                            <li>Çoklu ödeme,</li>
                            <li>Müşteri bekletme,</li>
                            <li>Ön muhasebe programıyla tam entegrasyon çalışma gibi işlemlerinizi gerçekleştirebilirsiniz.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#hizliSatis" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Barkod Listeleri</h3>
                        <ul align="left">
                            <li>Barkodsuz ürünler için otomatik barkod tanımlama,</li>
                            <li>Gramajlı ürünleriçin otomatik barkod tanımlama,</li>
                            <li>Barkod etiketi basma (tekli veya toplu) ve daha fazlasından yararlanabilirsiniz.</li>

                        </ul>

                        <a href="/Premium/FeaturesPage#Barkod" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Otomatik Yedekleme</h3>
                        <ul align="left">
                            <li>Geri yükleme,</li>
                            <li>Yedek oluşturma,</li>
                            <li>Periyodik olarak düzenli yedekleme,</li>
                            <li>Otomatik devreye girmeye gibi bir çok avantajlardan yararlanabilirisiniz.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#otomatikYedek" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Stok Risk Limiti</h3>
                        <ul align="left">
                            <li>Stoklarınıza risk limiti belirtme,</li>
                            <li>Kolay stok takibi,</li>
                            <li>Riskli ürünleriniz belirlediğiniz sayının altına düştüğünde mail adresinize bildirim alma gibi işlemlerden yararlanabilirisiniz. </li>
                        </ul>
                        <a href="/Premium/FeaturesPage#stokRisk" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        <h3>E-Tahsilat</h3>
                        <ul align="left">
                            <li>7/24 hızlı, kesintisiz ve güvenlidir,</li>
                            <li>Bütün kredi kartları için taksitli satış imkânı,</li>
                            <li>Yabancı kartlar ile işlem yapabilme gibi işlemlerinizi gerçekleştirebilirsiniz.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#Etahsilat" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Teklif-Sipariş</h3>
                        <ul align="left">
                            <li>Farklı teklifler oluşturma,</li>
                            <li>En uygun teklifi siparişe döndürme,</li>
                            <li>Siparişlerinizi de faturalandırma ve faturanızı muhasebe programına işleyebilme gibi özelliklerden yararlanabilirsiniz.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#teklif-siparis" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Personel Takip</h3>
                        <ul align="left">
                            <li>Yeni personel ekleme,</li>
                            <li>Personele ait resim, notlar ve izin bilgisi ekleme,</li>
                            <li>Çalışanlarınıza ait maaş hesaplaması, bordolama sistemi ve daha bir çok özellikleri kullanarak kolay yönetim sağlayabilirsiniz.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#Personel" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Vade Takip</h3>
                        <ul align="left">
                            <li>Çek/Senet takibi,</li>
                            <li>Cari hesap takibi,</li>
                            <li>Taksit takibi gibi bir çok işlemi içermektedir.</li>
                        </ul>
                        <a href="/Premium/FeaturesPage#Vade" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->


    <section id="features" class="padd-section text-center">

        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/exel veri aktarımı.png"  alt="img">
                        <h4>Excel Veri Aktarımı</h4>
                        <p>Kullanmakta olduğunuz veritabını excel dokümanı halinde dışarı aktarabilir, aynı zamanda elinizdeki uygun formatlı excel dosyalarını programınızın veritabanına dahil edebilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/stok sayımı.png" alt="img">
                        <h4>Stok Sayım</h4>
                        <p>Bu program ile Bilsoft Cari Takip programındaki ürünlerin bilgilerini güncelleyebilir, sayım miktarınızı girebilir ve programda kayıtlı olmayan ürünleride kolayca ekleyip sayım miktarını girebilirsiniz. </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/faturada döviz.png" alt="img">
                        <h4>Faturada Döviz İşlemi</h4>
                        <p>Bilsoft Döviz Modülü ile işlemlerinizi güncel döviz kurlarıyla çevrimini yapabilir fatura ve makbuz kesebilirsiniz. Ayrıca Dolar, Euro ve TL olarak da makbuz basabilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/e-ticaret.png" alt="img">
                        <h4>E-Ticaret</h4>
                        <p>
                            Bilsoft N11 entegratörü aracılığı ile N11 üzerinden gelen siparişlerinizi ön muhasebe programınıza aktarma, faturalandırılma ve güncellenme işlemlerini otomatik olarak gerçekleştirebilir, işlerinizi pratik bir şekilde halledebilirsiniz.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/cari stok takibi.png" alt="img">
                        <h4>Stok-Cari Takip</h4>
                        <p>Stok için; sınısız depo tanımlama, toplu stok raporu ve stok hareketleri raporunu alabilme, depo hareketleri raporunu alabilme, Cari için; sınırsız cari hesap kartı tanımlama, cariye stoklu-stoksuz satış, cariyi borçlandırma ve alacaklandırma işlemleri vb. işlemlerini içerir.</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/icons/kasa-banka-takip.png" alt="img">
                        <h4>Kasa-Banka Takibi</h4>
                        <p>Kasadan bankaya virman yapabilme, iki tarih arası detaylı raporlama, banka hareket girişi yapabilme, bankdan bankaya veya bankadan kasaya virman yapabilme ve dahasını kapsayan bir modüldür. </p>
                    </div>
                </div>

                


            </div>
        </div>
    </section><!-- End Features Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-8">

                    <div class="testimonials-content">
                        <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                            <div class="carousel-inner" role="listbox">

                                <div class="carousel-item  active">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede işlemlerimizi aksamadan gerçekleştiriyoruz. Programı kullanım aşamasında bilgi almak isteyen firmalara bu konuda referans olabilirim.
                                        </p>
                                        <h4>Doğan Ahmet ŞENER,<span>FATİH YAPI</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik servis hizmetlerinin ulaşılabilirliği ve desteği son derece iyi. Programı sattıktan sonraki ilginizden memnunum. Daha önce başka bir program kullanıyordum fakat oradan böyle bir destek alamadım.
                                        </p>
                                        <h4>Mehmet Bey, <span>MEHMET EMİN KORKMAZ ŞAHSİ FİRMASI</span></h4>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Arkadaşlarınız çok ilgili. İstediğim zaman ulaşabiliyorum ve hiç sıkıntı yaşamıyorum.
                                        </p>
                                        <h4>Cem Bey,<span>TOPLU TÜKETİM AMBALAJ </span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Program ile ilgili tüm sıkıntılarımı arkadaşlarınız çözüme kavuşturdu. Bütün görüşmelerimde sizlerden zamanında dönüş alabildim.
                                        </p>
                                        <h4>Mehmet Bey,<span>YALÇIN BİLGİ TEKNOLOJİLERİ</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Hizmetinizden çok ve aşırı gereksiz şekilde memnunum. Ne zaman sizleri arasam işlemlerim anında çözüme kavuşturuldu. Bu konuda teşekkür ederim.Bir not vermek gerekirse 10 üzerinden 10.
                                        </p>
                                        <h4>Ercan ÇELİK,<span>ERCAN ÇEL ŞAHIS</span></h4>

                                    </div>
                                </div>

                            </div>

                            <div class="btm-btm">

                                <ul class="list-unstyled carousel-indicators" style="position: relative;">
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="4"></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="padd-section text-cente">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>Kampanyalar:</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 ">
                    <div class="block-pricing">
                        <div class="table">
                            <img src="~/Content/img/icons/plus_kart.png" style="width:350px; height:auto" />
                            @*<h4>basic</h4>
                                <h2>$29</h2>
                                <ul class="list-unstyled">
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul>*@
                            <div class="table_btn">
                                <a href="#" class="btn"><i class="bi bi-cart"></i>Şimdi İndir</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="block-pricing">
                        <div class="table">
                            <img src="~/Content/img/icons/mega_kart.png" style="width:350px" />
                            @*<h4>PERSONAL</h4>
                            <h2>$29</h2>
                            <ul class="list-unstyled">
                                <li><b>4 GB</b> Ram</li>
                                <li><b>7/24</b> Tech Support</li>
                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                <li>Monthly Backups</li>
                                <li>Palo Protection</li>
                            </ul>*@
                            <div class="table_btn">
                                <a href="#" class="btn"><i class="bi bi-cart"></i>Şimdi İndir</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
        <div class="overlay padd-section">
            <div class="container" data-aos="zoom-in">

                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        @*<form class="d-flex" method="POST" action="#">
                                <input type="email" class="form-control " placeholder="Email Adress" name="email">
                                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
                            </form>*@
                    </div>
                </div>

                @*<ul class="list-unstyled">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    </ul>*@

            </div>
        </div>
    </section><!-- End Newsletter Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>İLETİŞİM</h2>

            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>
                                Düzce Üniversitesi Teknopark
                                Orhangazi Mah. Teknopark Cad. No:1 Kat:2<br> Merkez/Düzce
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <p>bilgi@bilsoft.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>0212 912 24 26 <br /> 0544 583 09 08</p>

                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://twitter.com/bilsoftyzlm?lang=tr" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/bilsoftyazilim" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="~/Content/forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad-Soyad" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız.." required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Yükleniyor..</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
                            </div>
                            <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
    <!-- ======= Footer ======= -->


