
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="~/Content/img/la.jpg" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>LA is always so much fun!</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/chicago.jpg" alt="Chicago" style="width:100%;">
            <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/ny.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- ======= Hero Section ======= -->
<div class="container">




    @*<section id="hero">
            <div class="hero-container" data-aos="fade-in">
                <h1>BILSOFT ONLINE ÖN MUHASEBE PROGRAMI</h1>
                <h2>Avantajlı fiyatlarımızla muhasebe işlemlerinde her zaman bir adım önde olun!</h2>
                <img src="~/Content/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
                <a href="#get-started" class="btn-get-started scrollto">ŞİMDİ İNDİR</a>
            </div>
        </section>*@<!-- End Hero Section -->
</div>
<main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2> NEDEN BILSOFT ONLINE ÖN MUHASEBE PROGRAMI ? </h2>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="feature-block">

                        <img src="~/Content/img/svg/cloud.svg" alt="img">
                        <h4>Güvenli Veri Depolama</h4>
                        <p>Bulut Veri Depolama ve Bulut Yedekleme Çözümleri ile Hizmet Sunmaktayız.</p>


                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-block">

                        <img src="~/Content/img/svg/planet.svg" alt="img">
                        <h4>Kullanıcı Dostu Arayüz</h4>
                        <p>Rahat Tasarımı ve Ayırt Edici Özellikleriyle Kullanıcı Dostu Arayüz Sunmaktayız.</p>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="feature-block">

                        <img src="~/Content/img/svg/asteroid.svg" alt="img">
                        <h4>VIP Teknik Destek</h4>
                        <p>Doğrudan İletişime Geçerek Öncelikli Olarak Hizmet Sağlamaktayız.</p>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Get Started Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <meta charset="utf-8">
                @*<link rel="stylesheet" href="stil.css">*@
                <div class="section-title text-center">

                    <h2>ONLINE ÖN MUHASEBE</h2>
                </div>

                <div class="container" id="about-content">
                    <img src="~/Content/img/Ekraısı.PNG" class="sola-kaydir">
                    <p>
                        Şirketinizi mekandan bağımsız olarak yönetmenize olanak sağlar. İster evde olun ister tatilde internetinizin olması yeterlidir. Yani şirketinizi yönetmek bir tık uzağınızdadır.
                        Programın online olması ofise olan bağımlılığınızı azaltır. İşlemlerinizi yapmak için sürekli ofiste masa başında saatlerinizi harcamanız gerekmez.
                        Basit arayüzü sayesinde kolay kullanılabilir, çok fazla işlem karmaşası gerektirmeyen, barkod desteği ile sadece müşteri, stok ve satış işlemlerini yapabileceğiniz, yaptığınız işlemlerin detaylı raporunu alabileceğiniz bir programdır.
                    </p>
                </div>

                @*<div class="col-md-5 col-lg-3">
                        <img src="~/Content/img/Online2019_withPC.png" alt="About" data-aos="zoom-in" data-aos-delay="100">

                    </div>

                    <div class="col-md-7 col-lg-5">
                        <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                            <h2><span>Online Ön Muhasebe</span>Teknik Özellikler </h2>

                            <ul class="list-unstyled">
                                <li><i class="vi bi-chevron-right"></i>Şube Bazlı Yönetim</li>
                                <li><i class="vi bi-chevron-right"></i>Kolay Kurulum</li>
                                <li><i class="vi bi-chevron-right"></i>Detaylı Raporlar</li>
                                <li><i class="vi bi-chevron-right"></i>Güvenilir</li>
                                <li><i class="vi bi-chevron-right"></i>Teknik Gereksinim ve Maliyeti Azaltır</li>
                            </ul>

                        </div>
                    </div>*@

            </div>
        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="services">
        <div class="section-title text-center">

            <h2>ÖZELLİKLER</h2>

        </div>

        <div class="container" data-aos="fade-up">


            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>E-Fatura</h3>
                        <ul align="left">
                            <li>Zaman ve mekan sınırı olmadan,</li>
                            <li>Mail alma-gönderme kolaylığında,</li>
                            <li>Minimum 10 yıl boyunca güvenli bir şekilde faturalarınızı arşivleyebilirsiniz,</li>
                        </ul>
                        <a href="/Premium/FeaturesPage" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>E-Tahsilat</h3>
                        <ul align="left">
                            <li>7/24 hızlı, kesintisiz ve güvenlidir,</li>
                            <li>Bütün kredi kartları için taksitli satış imkânı,</li>
                            <li>Yabancı kartlar ile işlem yapabilme gibi işlemlerinizi gerçekleştirebilirsiniz.</li>
                        </ul>
                        <a href="E-tahsilat" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Stok Takibi</h3>
                        <ul align="left">
                            <li>Sınırsız depo ve stok kartı tanımlama,</li>
                            <li>Toplu stok raporu ve stok hareketleri raporunu alabilme,</li>
                            <li>Barkodsuz veya gramajsız ürünler için otomatik barkod tanımlamave daha fazlasından yararlanabilirsiniz.</li>

                        </ul>

                        <a href="Stok" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Cari Kart</h3>
                        <ul align="left">
                            <li>Sınırsız cari hesap kartı tanımlama,</li>
                            <li>Cariye stoklu-stoksuz satış,</li>
                            <li>Kısayol ile direkt fatura düzenleme gibi bir çok avantajlardan yararlanabilirisiniz.</li>
                        </ul>
                        <a href="/Premium/Cari" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Çek-Senet Takibi</h3>
                        <ul align="left">
                            <li>Sınırsız çek-senet tanımlama,</li>
                            <li>Çeklerin ödeme/tahsilat durumunu değiştirme,</li>
                            <li>İki tarih arasında raporlama gibi işlemlerinizi gerçekleştirebilirsiniz</li>
                        </ul>
                        <a href="Çek" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Raporlama Sistemi</h3>
                        <ul align="left">
                            <li>Satış raporu ve satış grafiği,</li>
                            <li>Depo ve kasa hareketleri,</li>
                            <li>Kar-zarar analizi ve çok daha fazlası.</li>
                        </ul>
                        <a href="Raporlama" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Fatura Modülü</h3>
                        <ul align="left">
                            <li>Hızlı parekende satışı yapabilme,</li>
                            <li>Detaylı alış-satış ve iade faturası raporlama ve düzenleme,</li>
                            <li>Barkod desteği gibi özelliklerden yararlanabilirsiniz.</li>
                        </ul>
                        <a href="" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Taksit Takip</h3>
                        <ul align="left">
                            <li>Detaylı taksit raporu alabilme,</li>
                            <li>Otomatik taksitlendirme modülü,</li>
                            <li>Vadesi gelen taksitleri ana ekranda uyarma ve daha bir çok özellikleri kullanarak kolay yönetim sağlayabilirsiniz.</li>
                        </ul>
                        <a href="Taksit" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Banka ve Kasa Takip</h3>
                        <ul align="left">
                            <li>Kasadaki kalan bakiyeyi görme,</li>
                            <li>Kasadan bankaya virman yapabilme,</li>
                            <li>bankadan bankaya veya bankadan kasaya virman yapabilme ve detaylı raporlama gibi bir çok işlemi içermektedir.</li>
                        </ul>
                        <a href="Banka" class="read-more"><span>Detaylar</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->



    <section id="features" class="padd-section text-center">

        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/paint-palette.svg" alt="img">
                        <h4>Teklif-Sipariş</h4>
                        <p>Farklı teklifler oluşturabilir, bu teklifleri kayıt altında tutarak en uygun teklifinizi siparişe döndürebilirsiniz. Siparişlerinizi de faturalandırabilir ve faturanızı muhasebe programına işleyebilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/vector.svg" alt="img">
                        <h4>Otomatik Yedekleme</h4>
                        <p>Programımız sizin belirlediğiniz sıklıkta, belirtmiş oldugunuz adrese yedekler alacaktır. Program arka planda size hiçbir şekilde rahatsızlık vermeden çalışmaktadir. Bu özellik sayesinde yedek almayı unutmak gibi bir riskiniz kalmayacak! </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/design-tool.svg" alt="img">
                        <h4>Excel Veri Aktarım Programı</h4>
                        <p>Programımız aracılığı ile elinizde bulunan Excel dökümanlarını hiç zorlanmadan kullanmakta olduğunuz Bilsoft Cari Hesap Programına aktarabilir ve sorunsuz bir şekilde programı kullanmaya devam edebilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/asteroid.svg" alt="img">
                        <h4>Stok Sayım Programı</h4>
                        <p>
                            Bu program ile Bilsoft Cari Takip programındaki ürünlerin bilgilerini güncelleyebilir, sayım miktarınızı girebilir ve programda kayıtlı olmayan ürünleride kolayca ekleyip sayım miktarını girebilirsiniz.Bu özellik sayesinde hangi ürünü sayıp saymadığınızı göreceksiniz.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/asteroid.svg" alt="img">
                        <h4>Stok Risk Limiti</h4>
                        <p>Belirli bir sayının altına düşen stoklarınıza risk limiti belirleyerek elinizdeki stoklarınızın takibini daha sağlıklı bir şekilde gerçekleştirebileceksiniz. Limit programımız, riskli ürünleriniz belirlediğiniz sayının altına düştüğü taktirde mail adresinize bildirir.</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/cloud-computing.svg" alt="img">
                        <h4>Vade Takibi</h4>
                        <p>Vadesi geçen müşterilerinizi takip edebilir, hangi müşterilerin vadesinde ödeme yapmadıklarını görebilir, açık hesap ve isteyeceğiniz para tutarına göre görüntüleyebilir, vadesi geçen müşterilerinize ödeme tarihi ile ilgili bilgilendirme maili ve sms gönderebilirsiniz. </p>
                    </div>
                </div>

                @*<div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/pixel.svg" alt="img">
                        <h4>Ajanda</h4>
                        <p>
                            Hatırlamak istediğiniz tüm işlerinizi tam zamanında size hem görsel hem işitsel uyarı sistemi ile hatırlatacaktır.Ayrıca periyodik olarak gün, hafta, ay ve yıl bazında yaptığınız işlerinizi de tek bir seferde kayıt altına alabilir, hatırlatılacak işlerinizi kategorilere ayırabilirsiniz. (Lisanslı pakete dahildir, tek satılamaz.)
                        </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/code.svg" alt="img">
                        <h4>n11.com E-Ticaret</h4>
                        <p>N11 üzerinden gelen siparişlerinizin ön muhasebe programınıza aktarma, faturalandırılma ve güncellenme işlemlerini otomatik olarak gerçekleştiren n11 e-ticaret entegratörü ile işlerinizi pratik bir şekilde halledebilirsiniz.  </p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/paint-palette.svg" alt="img">
                        <h4>Hızlı Satış</h4>
                        <p> Bu çalışma sisteminde tüm stok, kasa giriş-çıkışlarınızı otomatik olarak takip edin ve kayıpları azaltın. Basit arayüz ile sizlere hız kazandıracak olan Hızlı Satış Programı ile iş sürecinizi kolaylaştırın.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/vector.svg" alt="img">
                        <h4>Personel takip</h4>
                        <p>Bilsoft personel modülü ile çalışanlarınıza ait eğitim, maaş hesaplaması, bordrolama sistemi, izin takibi, gelir gider takibinin detaylı kayıt altına alınmasını sağlayarak işlerinizi kolaylaştırıp daha profesyonel ve hatasız yönetim sağlayabilirsiniz </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/design-tool.svg" alt="img">
                        <h4>Fatura tasarım hizmeti</h4>
                        <p>Bilsoft Ön Muhasebe programında yaptığınız satışlara ait oluşturduğunuz faturaları artık manuel elle kesmenize gerek yok! Fatura tasarım hizmetimiz sayesinde artık tek bir tıklamayla kendi fatura şablonunuza uygun fatura yazdırabilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/asteroid.svg" alt="img">
                        <h4>Döviz modülü</h4>
                        <p>
                            Bilsoft ön muhasebe programlarına entegre olarak çalışan Dolar, Euro ve TL olarak fatura basan işletmeler için büyük bir kolaylık sağlayan modüldür. Günde bir kez otomatik olarak T.C. Merkez Bankası'ndan kur çekmektedir. Dilerseniz Dolar, Euro ve TL olarak da makbuz basabilirsiniz.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/asteroid.svg" alt="img">
                        <h4>Üretim Takibi</h4>
                        <p>Bilsoft üretim modülü ile ürünlerinizin üretimini sistem karmaşası yaşamadan, uygun kalitede, hatasız, doğru bir maliyet analizi ve planlamasıyla sağlayabilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="feature-block">
                        <img src="~/Content/img/svg/cloud-computing.svg" alt="img">
                        <h4>Başlıklı Toplu SMS Ek Modülü</h4>
                        <p>Program içerisinden hızlı bir şekilde kişiler rehbere kaydedilir. Bundan sonra istediğiniz zaman istediğiniz kişilere toplu sms yollayabilirsiniz. </p>
                    </div>
                </div>*@



            </div>
        </div>
    </section><!-- End Features Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-8">

                    <div class="testimonials-content">
                        <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                            <div class="carousel-inner" role="listbox">

                                <div class="carousel-item  active">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede işlemlerimizi aksamadan gerçekleştiriyoruz. Programı kullanım aşamasında bilgi almak isteyen firmalara bu konu da referans olabilirim.
                                        </p>
                                        <h4>Doğan Ahmet ŞENER,<span>FATİH YAPI</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik servis hizmetlerinin ulaşılabilirliği ve desteği son derece iyi. Programı sattıktan sonraki ilginizden memnunum. Daha önce başka bir program kullanıyordum fakat oradan böyle bir destek alamadım.
                                        </p>
                                        <h4>Mehmet Bey, <span>MEHMET EMİN KORKMAZ ŞAHSİ FİRMASI</span></h4>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Arkadaşlarınız çok ilgili. İstediğim zaman ulaşabiliyorum ve hiç sıkıntı yaşamıyorum.
                                        </p>
                                        <h4>Cem Bey,<span>TOPLU TÜKETİM AMBALAJ </span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Program ile ilgili tüm sıkıntılarımı arkadaşlarınız çözüme kavuşturdu. Bütün görüşmelerimde sizlerden zamanında dönüş alabildim.
                                        </p>
                                        <h4>Mehmet Bey,<span>YALÇIN BİLGİ TEKNOLOJİLERİ</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>Müşterilerimizin Görüşleri:</h2>
                                        <p>
                                            Hizmetinizden çok ve aşırı gereksiz şekilde memnunum. Ne zaman sizleri arasam işlemlerim anında çözüme kavuşturuldu. Bu konuda teşekkür ederim.Bir not vermek gerekirse 10 üzerinden 10.
                                        </p>
                                        <h4>Ercan ÇELİK,<span>ERCAN ÇEL ŞAHIS</span></h4>

                                    </div>
                                </div>

                            </div>

                            <div class="btm-btm">

                                <ul class="list-unstyled carousel-indicators" style="position: relative;">
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="4"></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="padd-section text-cente">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>Kampanyalar:</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 ">
                    <div class="block-pricing">
                        <div class="table">
                            <h4>basic</h4>
                            <h2>$29</h2>
                            <ul class="list-unstyled">
                                <li><b>4 GB</b> Ram</li>
                                <li><b>7/24</b> Tech Support</li>
                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                <li>Monthly Backups</li>
                                <li>Palo Protection</li>
                            </ul>
                            <div class="table_btn">
                                <a href="#" class="btn"><i class="bi bi-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="block-pricing">
                        <div class="table">
                            <h4>PERSONAL</h4>
                            <h2>$29</h2>
                            <ul class="list-unstyled">
                                <li><b>4 GB</b> Ram</li>
                                <li><b>7/24</b> Tech Support</li>
                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                <li>Monthly Backups</li>
                                <li>Palo Protection</li>
                            </ul>
                            <div class="table_btn">
                                <a href="#" class="btn"><i class="bi bi-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
        <div class="overlay padd-section">
            <div class="container" data-aos="zoom-in">

                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        @*<form class="d-flex" method="POST" action="#">
                                <input type="email" class="form-control " placeholder="Email Adress" name="email">
                                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
                            </form>*@
                    </div>
                </div>

                @*<ul class="list-unstyled">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    </ul>*@

            </div>
        </div>
    </section><!-- End Newsletter Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>İLETİŞİM</h2>

            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>
                                Düzce Üniversitesi Teknopark
                                Orhangazi Mah. Teknopark Cad. No:1 Kat:2<br> Merkez/Düzce
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <p>bilgi@bilsoft.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>0212 912 24 26 <br /> 0544 583 09 08</p>

                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://twitter.com/bilsoftyzlm?lang=tr" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/bilsoftyazilim" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="~/Content/forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad-Soyad" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız.." required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Yükleniyor..</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
                            </div>
                            <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
    <!-- ======= Footer ======= -->


