
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bilsoft Online Ön Muhasebe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/js/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- =======================================================
    * Template Name: eStartup - v4.3.0
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between" style="margin-left:60px;">

            <div id="logo">
                @*<h1><a href="index.html"><span>Bilsoft</span> Online Ön Muhasebe</a></h1>*@

                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/Premium/Index#myCarousel"><img src="~/Content/img/bilsoft logo 2-01.png" alt="" title="" id="NavbarLogo" /></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="/Premium/Index#myCarousel">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="/Premium/Index#about-us">Hakkında</a></li>
                    <li class="dropdown">
                        <a href="/Premium/Index#features"><span>Özellikler</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown"></li>
                            <li><a href="/Premium/FeaturesPage#Efatura">E-Fatura</a></li>
                            <li><a href="/Premium/FeaturesPage#hizliSatis">Hızlı Satış</a></li>
                            <li><a href="/Premium/FeaturesPage#Barkod">Barkod Listeleri</a></li>
                            <li><a href="/Premium/FeaturesPage#otomatikYedek">Otomatik Yedekleme</a></li>
                            <li><a href="/Premium/FeaturesPage#stokRisk">Stok Risk Limiti</a></li>
                            <li><a href="/Premium/FeaturesPage#Etahsilat">E-Tahsilat</a></li>
                            <li><a href="/Premium/FeaturesPage#teklif-siparis">Teklif-Sipariş</a></li>
                            <li><a href="/Premium/FeaturesPage#Personel">Personel Takip</a></li>
                            <li><a href="/Premium/FeaturesPage#Vade">Vade Takip</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/Premium/BlogPage">Blog</a></li>
                    <li><a class="nav-link scrollto" href="/Premium/Index#pricing">Kampanyalar</a></li>
                    <li><a class="nav-link scrollto" href="/Premium/SupportPage">Destek</a></li>
                    <li><a class="nav-link scrollto" href="/Premium/ContactPage#Contact">İletişim</a></li>
                    <li><a class="getstarted scrollto" href="/Premium/Index#pricing">Şimdi İndir</a></li>
                    <li><a class="getstarted scrollto" href="/Premium/Index#pricing">Demo Kullan</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a class="logo d-flex align-items-center" style="text-decoration:none">
                            <h3><b>BILSOFT ONLINE<br />ÖN MUHASEBE</b></h3>
                        </a>
                        <p>Bilsoft Yazılım web yazılım, yerli, hosting, internet danışmanlık hizmetleri ve ticari yazılım hizmetleri verir.</p>

                        <div class="social-links" style="padding-top:20px; padding-left:50px; ">
                            <a href="https://twitter.com/bilsoftyzlm?lang=tr" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/bilsoftyazilim" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links" style="margin-left:150px">
                        <h4>SAYFA LİNKLERİ</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/Index#myCarousel">Ana sayfa</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/Index#about-us">Hakkında</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/Index#features">Özellikler</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/BlogPage">Blog</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/Index#pricing">Kampanyalar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/Index/#contact">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4><a href="/Premium/Index#features">ÖZELLİKLER</a></h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#Efatura">E-Fatura</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#hizliSatis">Hızlı Satış</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#Barkod">Barkod Listeleri</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#otomatikYedek">Otomatik Yedekleme</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#stokRisk">Stok Risk Limiti</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#Etahsilat">E-Tahsilat</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#teklif-siparis">Teklif-Sipariş</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#Personel">Personel Takip</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Premium/FeaturesPage#Vade">Vade Takip</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Bilsoft</span></strong>. Tüm hakları saklıdır.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/aos/aos.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <script src="~/Content/vendor/jquery-3.6.0.js"></script>
    <script src="~/Content/vendor/bootstrap.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

</body>

</html>